
#title {
  background-color: #1f3c88;
  color: white;
  margin-top: 70px;
}

body {
  font-family: "Montserrat";
}

h1, h2, h3 {
  font-family: "Montserrat-oblique";
  font-size: 2.5rem;
  line-height: 1.5;
}

h4, h5, h6 {
  font-family: "Montserrat-oblique";
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 7% 5% 7%;
}

/* Navigation Bar */
.scroll-bar {
  position: fixed;
  top:0;
  right:0;
  left:0;
  z-index: -1;
}

.navbar {
  background-color: #1f3c88;
  padding: 0 0 5rem;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-style: "Monseratt-oblique";
  font-size: 0.8rem;
  color: #fff;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 60px;
  color: #fff;
}

/* Scrolled Down nav */
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

/* Scrolled Up nav */
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

/* Title Head */

.title-head {
  padding: 0 7% 0;
  font-size: 2.5rem;
}

/* Download Buttons */

.download-btn {
  margin: 5% 3% 5% 0;
  border-radius: 40px;
  padding: 0.8rem 3rem;
  font-size: 1rem;
  background-color: #bedcfa;
}

/* Title Image */

.title-image {
  z-index: 2;
  position: absolute;
  width: 75%;
  animation-name: office1;
  animation-duration: 1.5s;
}

.title-image1 {
  position: relative;
  width: 30%;
  margin-left: 30px;
  z-index: 1;
  animation-name: calendar1;
  animation-duration: 3.5s;
}

@keyframes office1 {
  0% {right: -500px;}
  100% {right: 160px;}
}

@keyframes calendar1 {
  0% {opacity: 0}
  100% {opacity: 1}
}
/* Features Section */

#features {
  position: relative;
  z-index: 10;
  padding: 5% 15%;
  background-color: #f6f5f5;
}

.feature-title {
  font-size: 1.5rem;
}

.features-box {
  text-align: center;
  padding: 5%;
}

.icon {
  margin-bottom: 1rem;
  color: #ef8172;
}

.icon:hover {
    color: #ff4c68;
}

/* Contents Section */
#contents-section1 {
  position: relative;
  z-index: 10;
  padding: 5% 15%;
  background-color: #f6f5f5;
}

.contents-image1 {
  width: 90%;
  animation-name: christmas-tree;
  animation-duration: 0.9s;
}

/* .contents-head1 {
  animation-name: contents-head1;
  animation-duration: 0.7s;
} */

@keyframes christmas-tree {
  0% {left: -500px;}
  100% {left: 0px;}
}

/* @keyframes contents-head1 {
  0% {opacity: 0;
    transform: scale(.3);
}
  50% {opacity: 1;
    transform: scale(1.05);
  }
  70% {transform: scale(.9);}
  100% {transform: scale(1);} */

  #contents-section2 {
    position: relative;
    z-index: 10;
    padding: 5% 15%;
    background-color: #f6f5f5;
  }


.contents-image2 {
  width: 90%;
  animation-name: plan-project;
  animation-duration: 0.9s;
}

/* Pricing Section */

#pricing {
  position: relative;
  z-index: 10;
  padding: 5% 10%;
  background-color: #e7eaf6;
}

.card {
  border: none;
}

.card-header {
  border: none;
  background-color: #e7eaf6;
}

.pro-header, .pro-text, .pro-content, .pro-body, .active {
  background-color: #f6f5f5 !important;
}

.card-body {
  background-color: #e7eaf6;
  padding-bottom: 130px;
}

.card .card-header {
  padding-top: 100px;
}

.card .text-price {
  font-size: 4.5rem;
  padding-bottom: 50px;
  line-height: 25px;
}

.card .text-content {
  font-size: 0.87rem;
  line-height: 30px;
  padding-bottom: 40px;
  padding-left: 12px;
  padding-right: 12px;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.text-price {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 5% 1%;
}

.download-btn2 {
  width: 50%;
  border-radius: 40px;
  padding: 15px 0px;
  font-size: 0.8rem;
  background-color: #1f3c88;
  margin-left: 90px;
}

#press-brands {
  position: relative;
  z-index: 10;
  padding: 5% 15%;
  background-color: #f6f5f5;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#footer {
  background-color: #e7eaf6;
  padding: 3% 10%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}
